

<html>
<head>


<script type="application/ld+json"> 
  <%- json_ld %>
</script>

    
<!-- script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script -->
<script src="<%= render_script %>"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<meta charset='utf-8'/>
<style>

table.table {
  padding-bottom: 300px;
}
</style>
</head>


<body>

  <nav class="navbar">

    <ul class="nav navbar-nav" >
        <li ><a href="#"><span class="glyphicon glyphicon-home dataset_name">&nbsp;<%- dataset_name  %></span></a></li>
    </ul>

  </nav>
<div class="container">
<div class="jumbotron">
<h4 class="citation"><%- citation %></h3>
<h3 class="item_name"><%- item_name %></h4>


<a href="./ro-crate-metadata.json">⬇️🏷️ Download all the metadata for <span class='name'><%- dataset_name %></span> in JSON-LD format</a>


<div id="check"></div>


</div>



<div id="summary">
<%- html %>
</div>





</body>
</html>
